@import url('https://fonts.googleapis.com/css?family=Rubik');
.brand-name{
	font-size: 30px!important;
    /*font-family: 'Rubik', sans-serif;*/
    font-weight: bolder!important;
}
a{
	text-decoration: none;
}
.header-nav{
	background-color: #091633;
	padding: 12px 0px;
}
.nav-elements a{
	padding: 0px 20px!important;
	border-right: 1px solid #a87943;
}
.header-nav a{
	color: #ffffff;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}
.header-nav a:hover{
	color: #d9ac6f;
}
.mobile-hamburger .navbar-toggler-icon {
    background-image: url(assets/images/icon.svg);
    background-size: 40px 20px;
}
.our-services{
	background-color: #42484d;
	padding: 40px;
}
.our-services h2{
	color: #ffffff;
}
.our-services h2,
.contact-us h2{
	font-size: 25px;
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
}
.digital-content h2{
	font-size: 16px;
}
.contact-us h2{
	color: #292626;
}
.service-head a,
.service-head a:hover{
	font-family: 'Rubik', sans-serif;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
}
.service-head:active{
	color: #292626;
}
.services-content p{
	font-family: 'Rubik', sans-serif;
	margin: 20px;
	color: #ffffff;
	text-align: justify;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 300;
}
.services{
	padding-top: 24px;
}
.contact-content p{
	padding-top: 20px;
	color: #292626;
	font-size: 16px;
	line-height: 1.44;
	text-align: justify;
	font-family: 'Rubik', sans-serif;
}
.contact-content h4{
	color: #292626;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}
.contact-content li{
	color: #292626;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}
.services li{
	color: #ffffff;
	float: left;
	font-size: 16px;
	list-style-type: none;
	padding: 0 20px;
}
.contact-us{
	padding: 40px;
}
.get-in-touch{
	background-color: #e6f7ff;
	padding: 40px;
}
.get-in-touch h2{
	font-size: 25px;
	color: #292626;
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
}
.get-in-touch span{
	font-size: 18px;
	color: #292626;
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
}
.get-in-touch label{
	font-size: 14px;
	color: #292626;
	font-weight: 300;
	font-family: 'Rubik', sans-serif;
}
.footer-front h2{
	font-size: 25px;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
}
.footer-front address,
.footer-front h4{
	font-size: 16px;
	color: #ffffff;
	font-weight: 300;
	font-family: 'Rubik', sans-serif;
	margin-bottom: 0px;
}
.footer-front{
	background-color: #42484d;
	padding: 40px;
}
.company-footer{
	padding: 40px;
}
.company-footer li{
	list-style-type: none;
	padding-bottom: 2px;
}
.li-head{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	padding-bottom: 6px;
}
.sub-button{
	background-color: transparent;
	border-left: none;
	margin-left: -4px;
}
.sub-email input{
	border-right: none;
}
.copy-rights{
	background-color: #f2f2f2;
	padding: 10px;
	color: #9b9b9b;
}
.copy-rights h3{
	font-size: 16px;
	margin-left: 40px;
	margin-bottom: 0px;
}
.digital-content{
	margin-top: 16px;
}